# Data files
*.csv
*.png

# Python artifacts
__pycache__/
*.pyc
.venv/
venv/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
